* {
	overflow: hidden;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #878441;
}
.Formulario {
	font-size: 9px;
	border-color: #CCCCCC;
	border: solid 1px;
	width: 145px;
	float: left;
	margin-bottom: 2px;
	margin-top: 2px;
}
.FormularioBotao {
	border-color: #CCCCCC;
	width: 80;
	height: 20px;
	background-color: #FFFFFF;
	font-size: 9px;
}
.text_form {
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	width: 40px;
	text-align: left;
	float: left;
	margin-right: 3px;
	margin-bottom: 2px;
	margin-top: 2px;
}
a.link_menu:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #aaaaaa;
	font-weight: bold;
	text-decoration: none;
}
a.link_menu:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #aaaaaa;
}
a.link_menu:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #507b38;
}
a.link_menu:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #aaaaaa;
}
.pad_25_B{
	padding-bottom: 25px;
}