@charset "utf-8";
/* CSS Document */


body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #555;
}
body {
	background-color: #878441;
	margin-left: 0px;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
}

a.link_menu:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #aaaaaa;
	font-weight: bold;
	text-decoration: none;
}
a.link_menu:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #aaaaaa;
}
a.link_menu:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #507b38;
}
a.link_menu:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #aaaaaa;
}




a.link_texto:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #063;
	font-weight: bold;
	text-decoration: none;
}
a.link_texto:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #676;
	font-weight: bold;
	text-decoration: none;
}
a.link_texto:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #555;
	font-weight: bold;
	text-decoration: underline;
}




a.link_texto2:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #090;
	text-decoration: none;
}
a.link_texto2:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #090;
	text-decoration: none;
}
a.link_texto2:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #F90;
	text-decoration: underline;
}



a.link_noticia:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #090;
	text-decoration: none;
	background-image: url(../_img/seta1.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
}
a.link_noticia:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #090;
	text-decoration: none;
	background-image: url(../_img/seta1.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
}
a.link_noticia:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #F90;
	background-image: url(../_img/seta2.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
}
a.link_noticia:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #090;
	text-decoration: none;
	background-image: url(../_img/seta1.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
}












a.link_voltar:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #090;
	text-decoration: none;
	background-image: url(../_img/seta3.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
}
a.link_voltar:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #090;
	text-decoration: none;
	background-image: url(../_img/seta3.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
}
a.link_voltar:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #F90;
	background-image: url(../_img/seta4.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
}
a.link_voltar:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #090;
	text-decoration: none;
	background-image: url(../_img/seta3.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
}










.linha_h {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #878441;
}

.linha_traco_h {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #999;
}

.pad_5_B{
	padding-bottom:5px;
}

.pad_25_B{
	padding-bottom:25px;
}

.pad5{
	padding:5px;
}

.tit16{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #878441;
	font-weight: bold;
}

.tit16_2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #F85;
	font-weight: bold;
}


.tx_11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
}


.tx_12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #878441;
	font-weight: bold;
}

.tx_14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #878441;
	font-weight: bold;
}

.tx_12_V{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #090;
}

.capitalize{
	text-transform:capitalize;
	font-size:25px;
	font-weight: bold;
	color: #507b38;
}


.imput{
	border:1px solid #878441;
	width:400px;
	height: 15px;
}

.imput2{
	border:1px solid #878441;
	width:20px;
	height: 15px;
}

.imput3{
	border:1px solid #878441;
	width:180px;
	height: 15px;
}

.imput4{
	border:1px solid #878441;
	width:396px;
}

.bt1{
	border:1px solid #878441;
	background-color: #878441;
	color: #fff;
	height: 21px;
	font-family:Verdana, Geneva, sans-serif;
}

img, object { display: block; }

.contato-response {
	width: 457px;
	background: #878441;
	color: #fff;
	padding: 10px;
	margin-bottom: 12px;
}
.contato-response p {
	margin: 2px 0;
}
.contato-response-success { text-align: center; }
h1.not-found {
	text-align: center;
	color: #878441;
	text-transform: uppercase;
	font-size: 14px;
}
.arquivos { margin-top: 25px; }
.facebook {
	text-align: left;
	display: inline-block;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	background: url('../_img/facebook.png') no-repeat center;
}
.linkedin {
	text-align: left;
	display: inline-block;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	background: url('../_img/linkedin.png') no-repeat center;
}
