.rte{width:100%;font-size:10px;border:1px solid #cccccc;background-color:#F0F0EE}
.rte-resize{float:right;cursor:se-resize;height:20px}
.rte-cmd{padding:3px;border-bottom:1px solid #cccccc}
.rte-cmd .cmd span:hover,.rte-cmd .cmd span.hvr{border:1px solid #0A246A;background-color:#B6BDD2}
.rte-cmd .cmd span{background-image:url(../images/icons.gif);background-repeat:no-repeat;cursor:default;border:1px solid #F0F0EE;vertical-align:middle;float:left;width:18px;height:18px}
.rte-cmd .sep{background:url(../images/separator.gif) no-repeat 0 0;width:2px;height:20px;margin-left:4px;margin-right:2px;padding:0;vertical-align:middle;float:left}
.rte-cmd select{background-color:#F0F0EE;display:inline;font-size:10px;float:left}
.panel{display:none;padding:2px}
.panel input{vertical-align:top;font-size:10px}
.emot img{cursor:default;padding-right:1px;border:1px solid #F0F0EE}
.emot img:hover,.emot img.hvr{border:1px solid #0A246A;background-color:#B6BDD2}
#color-table td{cursor:pointer}